name: Deploy Python 3.5
on: [push]
jobs:
  build:
  runs-on: ubuntu-latest
  steps:
  - uses: actions/checkout@v4
  - name: Set up Python 3.13
    uses: actions/setup-python@v5
    with:
      python-version: '3.13'
  - name: Install Dependencies
    run: |
      make Install
  - name: Lint
    run: |
      make lint
  - name: Test
    run: |
      make test
    
